/*####################################################### CLASES GLOBALES*/
/*--------- COLORES*/
$color-1: #00AFAA;
$color-2: #7BC0BE;
$color-3: #A7D5D3;
$color-4: #5B6670;
$color-5: #899096;
$color-6: #B1B5B9;

$clr-invalid: #dc3545

  