.contform input{
    height: 3rem;
    margin: 15px 0 !important;
    background-color: #5B6670 !important;
    color: rgb(255, 255, 255) !important;
}
.contform input:focus::placeholder{
    color: #5B6670 !important;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(225, 225, 225) !important;
    opacity: 1; /* Firefox */
  }

  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(170, 170, 170) !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff !important;
  }

  .btn_principal:hover{
    color: #fff !important;
  }

  .recoveryPass{
      cursor: pointer;
      color: #fff;
  }
  .mensaje-error{
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }