@import '../../assets/css/_vars.scss';

.NotFound{
    width: 100%;
    height: 100%;
    // background-color: $c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.NotFound img {
    width: 100%;
    
}

@media (max-width: 992px){
    .NotFound img {
        width: 26rem;
    }
}