.dropdown-menu {
  min-width: 9rem;
}

.dropdown-menu.show {
  position: absolute;
  inset: 0px auto auto 0px;
  /* transform: translate(-50px, 40px) !important; */
}

.dropdown .btn {
  border-radius: 0px !important;
}

@media (min-width: 1600px) {
  .dropdown-menu.show {
    transform: translate(-100px, 40px) !important;
  }
}

/* @media (min-width: 1290px){
  .dropdown-menu.show {
    transform: translate(-107px, 19px) !important;
  }
} */

@media (min-width: 1290px) {
  .catalogo .dropdown-menu.show {
      transform: translate(-11px, 19px) !important;
  }
}

@media (min-width: 1290px) {
  .dropdown-menu.show {
    transform: translate(-130px, 40px) !important;
  }
}
