.contenedorLoad{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 30%);
}
.centerL{
    display: flex;
    justify-content: center;
    align-items: center;
}